input,
select{

width:100%;

padding:14px;

background:#111827;

border:1px solid rgba(255,255,255,.06);

color:white;

border-radius:12px;

margin-bottom:15px;

font-size:15px;

}

button{

background:linear-gradient(90deg,var(--primary),var(--primary2));

border:none;

color:white;

padding:13px 20px;

border-radius:12px;

cursor:pointer;

transition:.25s;

font-weight:600;

}

button:hover{

transform:translateY(-2px);

box-shadow:0 8px 20px rgba(91,124,255,.35);

}

button svg{

vertical-align:middle;

margin-right:7px;

}

.secondary-button{

background:transparent;

border:1px solid var(--border);

}

.secondary-button:hover{

box-shadow:none;

}
